body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* Header Style Start*/

.header {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #ffffff;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  border-bottom: rgba(123, 120, 161, 0.13) solid 1px;
}

.site-name {
  display: grid;
  align-content: center;
  padding-left: 20px;
}

#site-name {
  color: #8632a0;
  text-decoration: none;
}

/* .nav-bar {
  display: grid;
  align-content: center;
  padding-left: 70px;
  color: #8632a0;
  text-decoration: none;
} */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.header li {
  font-size: 1.1em;
  display: inline-block;
}

/* /* li {
  float: left;
  padding-left: 900px;
} */

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
} 

/* .logout a{
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  padding-left: 700px;
} */

/* Header Style End */

/* Form Style Start */

.container /* Background page */{
  background: rgb(255, 255, 255);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-wrapper /* Register box */{
  margin-bottom: 4%;
  background-color: #fff;
  min-width: 450px;
  min-height: 540px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 30px;
  border: rgba(123, 120, 161, 0.13) solid 1px;
  box-shadow: 5px 10px 18px #f1efef;
  box-shadow: rgba(0, 0, 0, 0.041) 0px 19px 38px,
  rgba(0, 0, 0, 0.034) 0px 15px 12px; 
  display: block;
}

.app-wrapper2 /* Register box */{
  margin-top: 1%;
  background-color: #fff;
  min-width: 450px;
  min-height: 570px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 30px;
  border: rgba(219, 217, 253, 0.13) solid 1px;
  box-shadow: 5px 10px 18px #f3f0f0;
  /* box-shadow: rgba(0, 0, 0, 0.041) 0px 19px 38px,
  rgba(0, 0, 0, 0.034) 0px 15px 12px; */
  display: block;
}

.title {
  color: black;
  text-align: center;
  margin: 80px 0px 40px 0px;
  /* margin-left: 500px; */
}

.username,
.email,
.password {
  margin: 20px;
  color: #969292;
  font-size: 16px;
  /* margin-left: 500px; */

}

.password {
  margin-bottom: 40px;
}

.input {
  height: 32px;
  font-size: 20px;
  outline: none;
  width: 100%;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: 2px solid black;
  margin-bottom: 10px;
}

.error {
  color: red;
}

.submit {
  display: flex;
  text-transform: uppercase;
  font-size: 20px;
  border-radius: 25px;
  color: white;
  padding: 10px 40px;
  background: linear-gradient(to right, #d182ff, #5c3d66);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
                rgba(0, 0, 0, 0.22) 0px 15px 12px;
  margin: auto;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.1s;
  /* margin-left: 558px; */
}

button:active {
  transform: translateY(2px);
}

.form-success {
  display: flex;
  justify-content: center;
  margin-top: 250px;
  min-width: 370px;
  color: aqua;
}

.message {
  margin: 50px 0 0;
  color: #8f8f8f;
  font-size: 15px;
  text-align: center;
  /* margin-left: 500px; */
}
.message a {
  color: #5c3d66;
  text-decoration: none;
  cursor: pointer;
}

.message2 {
  margin: 30px 0 0;
  color: #8f8f8f;
  font-size: 15px;
  text-align: center;
}
.message2 a {
  color: #5c3d66;
  text-decoration: none;
  cursor: pointer;
}

/* Form Style End */

/* Search Style Start */

.search {
  display: grid;
}

#search-bar {
  justify-self: center;
  width: 30%;
  padding: 16px 30px;
  font-size: 15px;
  border-radius: 50px;
  background: #f0f0f048;
  border: black(2, 2, 2, 0.13) solid 2px;
  color: rgb(106, 105, 109);
  margin-top: 120px;
}

/* Search Style End */

/* Filter Style Start */

.filter {
  width: 270px;
  height: 100%;
  position: fixed;
  padding-top: 8%;
  left: 0;
  top: 0;
  background: #ffffff;
  border: rgba(123, 120, 161, 0.13) solid 1px;
  border-top: 0px;
  overflow-x: hidden;
  display: grid;
  grid-template-rows: 50px 230px 210px auto auto;
}

.form-1 {
  padding: 0px 20px;
  border-bottom: rgba(123, 120, 161, 0.13) solid 1px;
  font-size: 14px;
}

.form-2 {
  display: grid;
}

#filtering {
  padding: 10px;
  width: 100px;
  height: 40px;
  justify-self: center;
  margin: 1px 0;
  /* background-color: #5c3d66; */
  background: linear-gradient(to right, #d182ff, #5c3d66);
  border-radius: 25px;
  color: #ffffff;
  border: 0px;
}
#filtering:hover {
  background-color: #5c3d66;
}

label {
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 0.5em;
  padding: 5px;
}

/* Filter Style End */

/* Post Style Start */

.post {
  justify-self: center;
  /* margin-top: 70px; */
  padding: 16px 30px;
}
#post-title {
  margin-top: 90px;
  /* font-size: 25px; */
  color: black;
  margin-left: 450px;
}

#post-form {
  margin-top: 20px;
  font-size: 15px;
  /* margin-top: 10px; */
  color: rgb(114, 114, 114);
  margin-left: 405px;
}

.guide {
  margin-top: 40px;
  /* margin-left: 255px; */
}

.input1 {
  margin-left: 450px;
  border: black(2, 2, 2, 0.13) solid 2px;
  border-radius: 10px;
  background:#f0f0f048;
  color: black;
  width: 20%;
  font-size: 18px;
  padding: 16px 30px;
}

.input2 {
  margin-left: 75px;
  border: black(2, 2, 2, 0.13) solid 2px;
  border-radius: 10px;
  background:#f0f0f048;
  color: black;
  width: 10%;
  font-size: 14px;
  padding: 16px;
}

.input3 {
  border: black(2, 2, 2, 0.13) solid 2px;
  border-radius: 10px;
  background:#f0f0f048;
  color: black;
  margin-top: 20px;
  font-size: 15px;
  width: 50%;
  padding: 90px 50px;
  margin-left: 250px;
}

.publish {
  margin-top: 20px;
  /* margin-left: 999px; */
  margin-left: 545px;
  font-size: 15px;
  border-radius: 25px;
  color: white;
  padding: 10px 20px;
  background: linear-gradient(to right, #d182ff, #5c3d66);
  box-shadow: rgba(235, 233, 233, 0.3) 0px 19px 38px,
                rgba(207, 204, 204, 0.22) 0px 15px 12px;
  /* margin: auto; */
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.1s;
}

.upload {
  margin-top: 20px;
  /* margin-left: 999px; */
  margin-left: 25px;
  font-size: 15px;
  border-radius: 25px;
  color: white;
  padding: 10px 20px;
  background: linear-gradient(to right, #d182ff, #5c3d66);
  box-shadow: rgba(235, 233, 233, 0.3) 0px 19px 38px,
                rgba(207, 204, 204, 0.22) 0px 15px 12px;
  /* margin: auto; */
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.1s;
}

/* Post Style End */

/* Tablet Styles */
/* @media only screen and (min-width: 401px) and (max-width: 960px) {
  .post,
  #post-title,
  #post-form,
  .guide,
  .input1,
  .input2,
  .publish {
    width: 50%;
  }
} */

@media only screen and (max-width: 911px) {
  /* .cards {
    grid-template-columns: auto;
    justify-items: center;
  } */

  /* .post {
    margin-right: 0%;
    margin-top: 0%;
    grid-template-columns: auto;
    justify-items: center;
  } */

  .filter {
    display: none;
  }
}


