body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* Header Style Start */

.header {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #ffffff;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  border-bottom: rgba(123, 120, 161, 0.13) solid 1px;
}

.site-name {
  display: grid;
  align-content: center;
  padding-left: 20px;
}

#site-name {
  color: #be4f05cb;
  text-decoration: none;
}

/* .nav-bar {
  display: grid;
  align-content: center;
  padding-left: 70px;
  color: #8632a0;
  text-decoration: none;
} */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.header li {
  font-size: 1.1em;
  display: inline-block;
}

/* /* li {
  float: left;
  padding-left: 900px;
} */

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
} 

/* .logout a{
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  padding-left: 700px;
} */

/* Header Style End */

/* Footer Style Start */

.footer-distributed {
  background: rgb(228, 228, 228);
	/* box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12); */
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 50px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
  width: 35%;
}

.footer-distributed h3 {
	color:  black;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
  font-size: 30px;
}

.footer-distributed .company-name {
	color:  black;
	font-size: 14px;
	font-weight: normal;
	margin: 19px;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 43%;
}

.footer-distributed .footer-center i{
	background-color:  #57595a;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: black;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  black;
	text-decoration: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color: black;
	font-size: 15px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  black;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #57595a;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 11px;
	margin-bottom: 5px;
}

/* .footer-distributed .footer-left,
.footer-distributed .footer-center {

}

.footer-distributed .footer-center i {

} */

/* Footer Style End */

/* Form Style Start */

.register-image {
  background-image: url("https://mail.google.com/mail/u/0?ui=2&ik=21a5f55996&attid=0.1&permmsgid=msg-f:1720312677369296470&th=17dfc743f532b656&view=att&disp=safe");
  /* background-image: url("https://viewfinder.expedia.com/wp-content/uploads/2019/07/895081824.jpg"); */
  background-color: #cccccc;
  height: 590px;
  width: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.container /* Background page */{
  background: rgb(255, 255, 255);
  /* width: 100%; */
  /* min-height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 43%;
  left: 70%;
  transform: translate(-50%, -50%);
}

.app-wrapper /* Register box */{
  margin-bottom: 4%;
  background-color: #fff;
  min-width: 450px;
  min-height: 540px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 30px;
  /* border: rgba(123, 120, 161, 0.13) solid 1px; */
  /* box-shadow: 5px 10px 18px #f1efef;
  box-shadow: rgba(0, 0, 0, 0.041) 0px 19px 38px,
  rgba(0, 0, 0, 0.034) 0px 15px 12px;  */
  display: block;
}

.app-wrapper2 /* Register box */{
  margin-top: 1%;
  background-color: #fff;
  min-width: 450px;
  min-height: 570px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 30px;
  /* border: rgba(219, 217, 253, 0.13) solid 1px;
  box-shadow: 5px 10px 18px #f3f0f0; */
  /* box-shadow: rgba(0, 0, 0, 0.041) 0px 19px 38px,
  rgba(0, 0, 0, 0.034) 0px 15px 12px; */
  display: block;
}

.title {
  color: black;
  text-align: center;
  margin: 80px 0px 40px 0px;
  /* margin-left: 500px; */
}

.username,
.email,
.password {
  margin: 20px;
  color: #969292;
  font-size: 16px;
  /* margin-left: 500px; */

}

.password {
  margin-bottom: 40px;
}

.input {
  height: 32px;
  font-size: 20px;
  outline: none;
  width: 100%;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: 2px solid black;
  margin-bottom: 10px;
}

.error {
  color: red;
}

.submit {
  display: flex;
  text-transform: uppercase;
  font-size: 20px;
  border-radius: 25px;
  color: white;
  padding: 10px 40px;
  /* background: linear-gradient(to right, #d182ff, #5c3d66); */
  background: #be4f05cb;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
                rgba(0, 0, 0, 0.22) 0px 15px 12px;
  margin: auto;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.1s;
  /* margin-left: 558px; */
}

button:active {
  transform: translateY(2px);
}

.form-success {
  display: flex;
  justify-content: center;
  margin-top: 250px;
  min-width: 370px;
  color: aqua;
}

.message {
  margin: 50px 0 0;
  color: #8f8f8f;
  font-size: 15px;
  text-align: center;
  /* margin-left: 500px; */
}
.message a {
  color: #a04509cb;
  text-decoration: none;
  cursor: pointer;
}

.message2 {
  margin: 30px 0 0;
  color: #8f8f8f;
  font-size: 15px;
  text-align: center;
}
.message2 a {
  color: #a04509cb;
  text-decoration: none;
  cursor: pointer;
}

/* Form Style End */

/* Search Style Start */

.search-result {
  margin-top: 10%;
  margin-left: 7%;
  padding: 1px 16px;

}

.container3 {
  margin-top: 0%;
  margin-left: 5%;
  padding: 1px 16px;
}

.search {
  display: grid;
}

.search-btn {
  position: absolute;
  top: 20.4%;
  left: 63%;
  width: 55px;
  height: 51px;
  font-size: 1.8rem;
  color: #fff;
  border: none;
  background-color: #be4f05cb;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}

#search-bar {
  justify-self: center;
  width: 30%;
  padding: 16px 30px;
  font-size: 15px;
  border-radius: 50px;
  background: #f0f0f048;
  border: black(2, 2, 2, 0.13) solid 2px;
  color: rgb(106, 105, 109);
  margin-top: 120px;
}

/* Search Style End */

/* Filter Style Start */

.filter {
  width: 270px;
  height: 100%;
  position: fixed;
  padding-top: 8%;
  left: 0;
  top: 0;
  background: #ffffff;
  border: rgba(123, 120, 161, 0.13) solid 1px;
  border-top: 0px;
  overflow-x: hidden;
  display: grid;
  grid-template-rows: 50px 230px 210px auto auto;
}

.form-1 {
  padding: 0px 20px;
  border-bottom: rgba(123, 120, 161, 0.13) solid 1px;
  font-size: 14px;
}

.form-2 {
  display: grid;
}

#filtering {
  padding: 10px;
  width: 100px;
  height: 40px;
  justify-self: center;
  margin: 1px 0;
  /* background-color: #5c3d66; */
  background: linear-gradient(to right, #d182ff, #5c3d66);
  border-radius: 25px;
  color: #ffffff;
  border: 0px;
}
#filtering:hover {
  background-color: #5c3d66;
}

label {
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 0.5em;
  padding: 5px;
}

/* Filter Style End */

/* Post Style Start */

.post {
  justify-self: center;
  /* margin-top: 70px; */
  padding: 16px 30px;
}
#post-title {
  margin-top: 90px;
  /* font-size: 25px; */
  color: black;
  margin-left: 450px;
}

#post-form {
  margin-top: 20px;
  font-size: 15px;
  color: rgb(114, 114, 114);
  margin-left: 405px;
}

.guide {
  /* margin-top: 40px; */
  /* margin-left: 255px; */
}

.input1 {
  position: absolute;
  top: 40%;
  left: 22%;
  width: 40%;
  border: none;
  font-size: 20px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  outline: none;
  
  /* border-bottom-style: groove; */
}

.input2 {
  margin-left: 75px;
  /* border: black(2, 2, 2, 0.13) solid 2px; */
  outline: none;
  border: none;
  border-radius: 10px;
  background:#be4f05cb;
  color: white;
  width: 8%;
  font-size: 14px;
  padding: 11px;
  position: absolute;
  top: 39%;
  right: 8.6%;
}

.input3 {
  position: absolute;
  top: 50%;
  left: 22%;
  background: none;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  border: none;
  border-radius: 0;
  outline: none;
  width: 375px;
  height: 150px;
  display: block;
  /* border-bottom: 1px solid; */
}

.publish {
  position: absolute;
  top: 80%;
  left: 40%;
  margin-left: 545px;
  font-size: 15px;
  border-radius: 10px;
  color: white;
  padding: 10px 20px;
  background: #be4f05cb;
  /* box-shadow: rgba(235, 233, 233, 0.3) 0px 19px 38px,
                rgba(207, 204, 204, 0.22) 0px 15px 12px; */
  /* margin: auto; */
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.1s;
}

/* .upload {
  position: absolute;
  top: 57%;
  left: 4%;
  font-size: 15px;
  color: black;
  padding: 10px 20px;
  background: white;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.1s;
} */

.icon-style button{
  position: absolute;
  top: 39.9%;
  left: 8%;
  font-size: 15px;
  color: rgb(80, 79, 79);
  background: white;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.1s;
}

.fileUpload input[type="file"]{
  display:none;
}

.fileUpload label{
  border-radius: 50%;
  /* border: 1px solid black; */
  text-align: center;
  font-size: 19px;
  padding: 0px 4px;
  width: 12px;
  cursor: pointer;
  position: absolute;
  top: 39.9%;
  left: 13%;
  color: rgb(94, 94, 94);
}

.hovertext {
  position: relative;
  /* border-bottom: 1px dotted black; */
}

.hovertext:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 140px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  transition: opacity 1s ease-in-out;
  position:absolute;
  z-index: 1;
  left: 0;
  top: 110%;
}

.hovertext:hover:before {
  opacity: 1;
  visibility: visible;
}

.upload-line {
  position: absolute;
  top: 45%;
  left: 17%;
  width: 55px;
}

.post-img {
  position: absolute;
  top: 45%;
  left: 2%;
  width: 220px;
  height: 320px;
  border: 2px solid white;
  border-color: white;
  border-radius: 15px;
}

/* Post Style End */

/* Home Page Style Start */

.container2 {
  margin-top: 1%;
  margin-left: 5%;
  padding: 1px 16px;
}

.cards {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 10px;
  column-gap: 10px;
  margin: 3% 0 0 0;
  row-gap: 35px;
}

.card {
  width: 280px;
  /* height: 350px; */
  background: #ffffff;
  border: rgba(123, 120, 161, 0.13) solid 1px;
  border-radius: 30px;
  display: grid;
  padding: 20px;
}

.card:hover {
  box-shadow: 0px 10px 8px 0 rgba(0, 0, 0, 0.2);
}

.card h3 {
  font-size: 18px;
  margin-left: 29px;
}

#countryName {
  font-size: 18px;
  margin-left: 110px;
  margin-top: 0px;
  color: rgb(78, 78, 78);
}

#name {
  font-size: 14px;
  margin-left: 120px;
  margin-top: 0px;
  color: black;
  cursor: pointer;
}

.card img {
  width: 230px;
  justify-self: center;
  border-radius: 15px;
}

.card img,
.card h3 {
  cursor: pointer;
}

/* Home Page Style End */

/* Experience Details Page Style Start */

.details2 {
  position:relative;
  text-align: center;
  color: white;
}

.details2 img {
  margin-top: 8%;
  width: 1226px;
  height: 400px;
}

.image-title {
  position: absolute;
  top: 83%;
  left: 28%;
  transform: translate(-50%, -50%);
  font-size: 35px;
  /* background: rgba(254, 254, 254, 0.308); */
  border-radius: 10px;
}

.image-country {
  position: absolute;
  top: 93%;
  left: 9%;
  transform: translate(-50%, -50%);
  font-size: 33px;
}

.username-part {
  margin-top: 2%;
  margin-left: 4%;
  font-family: Arial, sans-serif;
  cursor: pointer;
}

.tips {
  margin-left: 3%;
}

.desc-part {
  margin-left: 3%;
  font-size: 17px;
  font-family: Arial, sans-serif;
}

.dropdown{
  position: absolute;
  display: inline-block;
  top: 21.3%;
  left: 0.5%;
  border-radius: 50px;
}

.menu-btn{
  background-color: rgba(255, 255, 255, 0.795);
  color: black;
  border-radius: 2px;
  padding: 0% 0%;
  font-size: 25px;
  border: none;
  cursor: pointer;
}
.dropdown-content {
  display: none;
  color: black;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.795);
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-right: 100px;
}

.delete-btn {
  /* position: absolute;
  top: 90%;
  left: 50%; */
  font-size: 25px;
  cursor: pointer;
  margin-left: 30px;
  border:none;
  outline:none;
  text-align: center;
  border-radius: 2px; 
}

.edit-btn {
  /* position: absolute;
  top: 100%;
  left: 90%; */
  font-size: 25px;
  cursor: pointer;
  margin-right: 105px;
  border:none;
  outline:none;
  text-align: center;
  border-radius: 2px; 
}

.delete-btn i{
  /* vertical-align: middle; */
  margin: 10px 50px;
  position: relative;
  right: 40%;
}

.delete-btn p{
  vertical-align: middle;
  font-size: 20px;
  display: inline-block;
}

.dropdown-content p:hover {background-color: rgba(255, 255, 255, 0.795)}

.dropdown:hover .dropdown-content {
  display: block;
}

.delete-btn2 {
  position: absolute;
  /* top: 20%; */
  left: 57%;
  /* transform: translate(-50%, -50%); */
  font-size: 20px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: white;
}

/* Experience Details Page Style End */

/* Update Experience Page Style Start */

.form-container {
  background-color: #5c3d66;
}

/* Update Experience Page Style End */

/* Comment Page Style Start */

.seperate-page {
  display: grid;
  grid-template-columns: auto;
  background-color: #ffffff;
  width: 100%;
  /* position: fixed; */
  z-index: 1;
  top: 0;
  left: 0;
  border-bottom: rgba(123, 120, 161, 0.13) solid 3px;
}

.seperate-page li {
  font-size: 1.1em;
  display: inline-block;
}

.comment-box {  
  position: absolute;
  top: 128%;
  margin-left: 50px;
  border-style: solid;
  border-radius: 5px;
  /* background:#f0f0f048; */
  color: black;
  width: 50%;
  font-size: 14px;
  padding: 8px 30px;
}

.post-comment {
  position: absolute;
  top: 128%;
  left: 61%;
  /* transform: translate(-50%, -50%); */
  font-size: 15px;
  border-radius: 5px;
  color: white;
  padding: 9px 12px;
  background: #be4f05cb;
  box-shadow: rgba(235, 233, 233, 0.3) 0px 19px 38px,
                rgba(207, 204, 204, 0.22) 0px 15px 12px;
  /* margin: auto; */
  outline: none;
  border: none;
  cursor: pointer;
  /* transition: all 0.1s; */
}

#name-comment {
  position: absolute;
  /* top: 146%; */
  left: 8%;
  transform: translate(-50%, -50%);
  font-size: 16px;
}

#body-comment {
  position: absolute;
  /* top: 155%; */
  left: 6.7%;
  /* transform: translate(-50%, -50%); */
  color: #464646;
  font-size: 14.5px;
}

/* Comment Page Style End */

/* Pop Up Alert Style Start */

.pop-up {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
}
/* Pop Up Alert Style End */


/* Tablet Styles */
/* @media only screen and (min-width: 401px) and (max-width: 960px) {
  .post,
  #post-title,
  #post-form,
  .guide,
  .input1,
  .input2,
  .publish {
    width: 50%;
  }
} */

@media only screen and (max-width: 911px) {
  /* .cards {
    grid-template-columns: auto;
    justify-items: center;
  } */

  /* .post {
    margin-right: 0%;
    margin-top: 0%;
    grid-template-columns: auto;
    justify-items: center;
  } */

  .filter {
    display: none;
  }
}


